.sakura {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sakura li {
	width: 18px;
	position: absolute;
	list-style: none;
	top: -50px;
	animation: fall 4s linear infinite, rotate1 2s ease-in-out infinite alternate;
}
@keyframes fall {
	to {
		top: 120%;
	}
}
@keyframes rotate0 {
	from {
		transform: translateX(0px) rotate(0deg);
	}
	to {
		transform: translateX(200px) rotate(-80deg) rotateX(180deg);
	}
}
@keyframes rotate1 {
	from {
		transform: translateX(200px) rotate(-45deg);
	}
	to {
		transform: translateX(0px) rotate(0deg);
	}
}